In [3]:
import pandas as pd

In [4]:
rev_df_1 = pd.read_csv('C:/Users/jijun/Desktop/yelp_datasets/rev_dataframe_1.csv', sep='\t')

c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
rev_df_1.shape
#res_df_1.head()

(633633, 7)

In [6]:
rev_df_2 = pd.read_csv('C:/Users/jijun/Desktop/yelp_datasets/rev_dataframe_2.csv', sep='\t')

In [7]:
rev_df_2.shape

(620133, 7)

In [8]:
rev_df_3 = pd.read_csv('C:/Users/jijun/Desktop/yelp_datasets/rev_dataframe_3.csv', sep='\t')

In [9]:
rev_df_3.shape

(634285, 7)

In [21]:
#rev_final = pd.concat([rev_df_1, rev_df_2, rev_df_3])
rev_final = rev_df_1.copy()

In [26]:
rev_final.head()
#rev_final.head(1)

,Unnamed: 0,business_id,review_id,text,stars_x,stars_y,user_id
0,0,ikCg8xy5JIg_NGPx-MSIDA,yi0R0Ugj_xUx_Nek0-_Qig,Went in for a lunch. Steak sandwich was delici...,5.0,3.0,dacAIZ6fTM6mqwW5uxkskg
1,1,ikCg8xy5JIg_NGPx-MSIDA,kSq_5yiDetNh-RRkvpB5Jw,"Really one of dirtiest places to eat,not sure ...",1.0,3.0,eKyshoiTpZVF1_U4B9CHEg
2,2,ikCg8xy5JIg_NGPx-MSIDA,Lxm5nANkCytCtMrnzYscXg,"Terrible place to eat and or drink, waitresses...",1.0,3.0,eKyshoiTpZVF1_U4B9CHEg
3,3,eU_713ec6fTGNO4BegRaww,fdiNeiN_hoCxCMy2wTRW9g,I'll be the first to admit that I was not exci...,4.0,3.5,w31MKYsNFMrjhWxxAb5wIw
4,4,eU_713ec6fTGNO4BegRaww,Ci7eLn5l1X1UTIe0COaCrA,One of the best Italian restaurants in a city ...,5.0,3.5,y0X59ZwPp89jVkceROxTtA

In [23]:
rev_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633633 entries, 0 to 633632
Data columns (total 7 columns):
Unnamed: 0     633633 non-null object
business_id    633631 non-null object
review_id      633631 non-null object
text           633631 non-null object
stars_x        633629 non-null float64
stars_y        633629 non-null float64
user_id        633629 non-null object
dtypes: float64(2), object(5)
memory usage: 33.8+ MB

In [31]:
rev_final.iloc[3,:]
#rev_final.head(1)

Unnamed: 0                                                     3
business_id                               eU_713ec6fTGNO4BegRaww
review_id                                 fdiNeiN_hoCxCMy2wTRW9g
text           I'll be the first to admit that I was not exci...
stars_x                                                        4
stars_y                                                      3.5
user_id                                   w31MKYsNFMrjhWxxAb5wIw
Name: 3, dtype: object