In [1]:
import pandas as pd

In [2]:
bus_df = pd.read_csv('C:/Users/jijun/Desktop/yelp_datasets/restaurant_dataframe.csv', sep='\t')

In [13]:
bus_df.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,1,30 Eglinton Avenue W,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{u'Monday': u'9:0-0:0', u'Tuesday': u'9:0-0:0'...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
1,2,"10110 Johnston Rd, Ste 15","{u'GoodForMeal': u'{'dessert': False, 'latenig...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{u'Monday': u'17:30-21:30', u'Friday': u'17:30...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
2,11,2450 E Indian School Rd,"{u'BusinessParking': u'{'garage': False, 'stre...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{u'Monday': u'7:0-0:0', u'Tuesday': u'7:0-0:0'...",1,33.495194,-112.028588,Taco Bell,85016,18,3.0,AZ
3,13,5981 Andrews Rd,"{u'Alcohol': u'u'none'', u'RestaurantsGoodForG...",fweCYi8FmbJXHCqLnwuk8w,"Italian, Restaurants, Pizza, Chicken Wings",Mentor-on-the-Lake,"{u'Monday': u'10:0-0:0', u'Tuesday': u'10:0-0:...",1,41.708520,-81.359556,Marco's Pizza,44060,16,4.0,OH
4,17,"1775 E Tropicana Ave, Ste 29","{u'BusinessParking': u'{'garage': False, 'stre...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119,40,4.0,NV

In [14]:

bus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59387 entries, 0 to 59386
Data columns (total 15 columns):
Unnamed: 0      59387 non-null int64
address         58971 non-null object
attributes      57176 non-null object
business_id     59387 non-null object
categories      59387 non-null object
city            59387 non-null object
hours           45391 non-null object
is_open         59387 non-null int64
latitude        59387 non-null float64
longitude       59387 non-null float64
name            59387 non-null object
postal_code     59285 non-null object
review_count    59387 non-null int64
stars           59387 non-null float64
state           59387 non-null object
dtypes: float64(3), int64(3), object(9)
memory usage: 6.8+ MB

In [7]:
bus_df_attr = bus_df['attributes']
type(bus_df_attr[0])
len = bus_df_attr.shape[0]
i = 0
my_dict ={}
while i < len-1:
    if type(bus_df_attr[i]) == str:
        X1 = bus_df_attr[i].replace("u'", "'")
        X2 = X1.replace("'{", "{")
        X3 = X2.replace("}'", "}")
        X4 = X3.replace("''","'")
        tmp_dict = eval(X4)
        for key, value in tmp_dict.items():
            if type(value) == dict:
                for key_c, value_c in value.items():
                    if key_c in my_dict:
                        my_dict[key_c]+= 1
                    else:
                        my_dict[key_c] =0
            else:
                #print("no dict")
                if key in my_dict:
                    my_dict[key] += 1
                else:
                    my_dict[key] =0
    i = i+1
    
my_dict

In [8]:
# Find the attribute entries and rank them by counts
from operator import itemgetter
sorted(my_dict.items(), key=itemgetter(1), reverse=True)

[('RestaurantsTakeOut', 52313),
 ('RestaurantsPriceRange2', 52100),
 ('RestaurantsGoodForGroups', 50961),
 ('GoodForKids', 50659),
 ('RestaurantsReservations', 50409),
 ('RestaurantsDelivery', 49810),
 ('RestaurantsAttire', 48538),
 ('OutdoorSeating', 48320),
 ('garage', 46944),
 ('valet', 46943),
 ('street', 46942),
 ('lot', 46942),
 ('validated', 46941),
 ('HasTV', 44852),
 ('trendy', 44397),
 ('intimate', 44397),
 ('touristy', 44397),
 ('romantic', 44397),
 ('casual', 44397),
 ('classy', 44397),
 ('Alcohol', 44320),
 ('upscale', 44227),
 ('hipster', 43833),
 ('NoiseLevel', 41044),
 ('WiFi', 40707),
 ('BikeParking', 38896),
 ('divey', 37197),
 ('Caters', 34908),
 ('BusinessAcceptsCreditCards', 34386),
 ('brunch', 29445),
 ('dessert', 29443),
 ('lunch', 29443),
 ('dinner', 29443),
 ('latenight', 29443),
 ('breakfast', 29443),
 ('RestaurantsTableService', 17152),
 ('WheelchairAccessible', 7914),
 ('DogsAllowed', 4179),
 ('HappyHour', 3809),
 ('dj', 3576),
 ('GoodForDancing', 3533),
 ('BusinessAcceptsBitcoin', 3372),
 ('live', 3228),
 ('jukebox', 3215),
 ('video', 3200),
 ('karaoke', 3200),
 ('background_music', 3197),
 ('DriveThr', 3190),
 ('no_music', 2812),
 ('thursday', 2679),
 ('wednesday', 2679),
 ('saturday', 2679),
 ('friday', 2679),
 ('tuesday', 2679),
 ('sunday', 2679),
 ('monday', 2679),
 ('CoatCheck', 2612),
 ('Smoking', 2446),
 ('BYOBCorkage', 1420),
 ('BusinessParking', 745),
 ('Corkage', 661),
 ('ByAppointmentOnly', 642),
 ('Ambience', 502),
 ('GoodForMeal', 209),
 ('Music', 53),
 ('vegan', 50),
 ('gluten-free', 50),
 ('vegetarian', 50),
 ('kosher', 50),
 ('halal', 50),
 ('soy-free', 50),
 ('dairy-free', 50),
 ('AgesAllowed', 32),
 ('BYOB', 27),
 ('AcceptsInsurance', 14),
 ('RestaurantsCounterService', 10),
 ('DietaryRestrictions', 6),
 ('Open24Hours', 6),
 ('BestNights', 5),
 ('coloring', 4),
 ('kids', 4),
 ('curly', 4),
 ('extensions', 4),
 ('perms', 4),
 ('asian', 1),
 ('africanamerican', 1),
 ('straightperms', 1)]

In [31]:
# Find businessparking attribute entries

bus_df_attr = bus_df['attributes']
type(bus_df_attr[0])
len = bus_df_attr.shape[0]
parking_df = pd.DataFrame(columns=['business_id', 'stars','garage','street','validated','lot','valet'])
i = 0
j=0
while i < len-1:
    if type(bus_df_attr[i]) == str:
        X1 = bus_df_attr[i].replace("u'", "'")
        X2 = X1.replace("'{", "{")
        X3 = X2.replace("}'", "}")
        X4 = X3.replace("''","'")
        tmp_dict = eval(X4)
        for key, value in tmp_dict.items():
            if key =='BusinessParking' and type(value)==dict:
                if value.has_key('garage'):
                    garage_str = value['garage']
                else:
                    garage_str = False
                    
                if value.has_key('street'):
                    street_str = value['street']
                else:
                    street_str = False
                    
                if value.has_key('validated'):
                    valid_str = value['validated']
                else:
                    valid_str = False
                    
                if value.has_key('lot'):
                    lot_str = value['lot']
                else:
                    lot_str = False
                    
                if value.has_key('valet'):
                    valet_str = value['valet']
                else:
                    valet_str = False
                    
                parking_df.loc[j] = [bus_df['business_id'][j], bus_df['stars'][j], garage_str, street_str, valid_str, lot_str, valet_str]
                j = j+1

    i = i+1


parking_df.head()

              business_id  stars garage street validated    lot  valet
0  QXAEGFB4oINsVuTFxEYKFQ    2.5  False  False     False   True  False
1  gnKjwL_1w79qoiV3IC_xQQ    4.0  False  False     False   True  False
2  1Dfx3zM-rW4n-31KeC8sJg    3.0  False  False     False  False  False
3  fweCYi8FmbJXHCqLnwuk8w    4.0  False  False     False   True  False
4  PZ-LZzSlhSe9utkQYU8pFg    4.0  False  False     False  False  False

In [34]:
parking_df['stars'].value_counts()

4.0    11378
3.5    11339
3.0     8515
4.5     5661
2.5     4739
2.0     2692
5.0     1284
1.5     1012
1.0      329
Name: stars, dtype: int64

In [42]:
# It looks like missing values in parking_df is <10. 
# I replaced them with majority value (False in this case)
# Furthermore, I need to integrate stars into two big categories (<3 will be 0, >=3 will be 1)

parking_df['high_rate'] = parking_df['stars'] >= 3

In [43]:
parking_df.head()

,business_id,stars,garage,street,validated,lot,valet,rate,high_rate
0,QXAEGFB4oINsVuTFxEYKFQ,2.5,False,False,False,True,False,False,False
1,gnKjwL_1w79qoiV3IC_xQQ,4.0,False,False,False,True,False,True,True
2,1Dfx3zM-rW4n-31KeC8sJg,3.0,False,False,False,False,False,False,True
3,fweCYi8FmbJXHCqLnwuk8w,4.0,False,False,False,True,False,True,True
4,PZ-LZzSlhSe9utkQYU8pFg,4.0,False,False,False,False,False,True,True

In [44]:
# Use feature selection to pick the most important feature for business parking
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [47]:
X = parking_df[['garage','street','validated','lot','valet']]
Y = parking_df['high_rate']

In [61]:
test = SelectKBest(score_func=chi2, k=1)
fit = test.fit(X, Y)
print(fit.scores_)

[0.00326953 1.74343134 0.01799899 1.64362256 1.02324247]

In [62]:
Selected_feature_names = X.columns[test.get_support()]
Selected_feature_names

Index([u'street'], dtype='object')

In [ ]:
# It looks like street parking plays the most important role in business parking regarding rate
# I will use street parking feature in the final dataframe.

In [74]:
# Find Ambience attribute entries

bus_df_attr = bus_df['attributes']
type(bus_df_attr[0])
len = bus_df_attr.shape[0]
Ambience_df = pd.DataFrame(columns=['business_id', 'stars','romantic','intimate','classy','hipster','divey',
                                  'touristy','trendy','upscale','casual'])
i = 0
j=0
while i < len-1:
    if type(bus_df_attr[i]) == str:
        X1 = bus_df_attr[i].replace("u'", "'")
        X2 = X1.replace("'{", "{")
        X3 = X2.replace("}'", "}")
        X4 = X3.replace("''","'")
        tmp_dict = eval(X4)
        for key, value in tmp_dict.items():
            if key =='Ambience' and type(value)==dict:
                if value.has_key('romantic'):
                    roman_str = value['romantic']
                else:
                    roman_str = False
                    
                if value.has_key('intimate'):
                    intimate_str = value['intimate']
                else:
                    intimate_str = False
                    
                if value.has_key('classy'):
                    classy_str = value['classy']
                else:
                    classy_str = False
                    
                if value.has_key('hipster'):
                    hips_str = value['hipster']
                else:
                    hips_str = False
                    
                if value.has_key('divey'):
                    divey_str = value['divey']
                else:
                    divey_str = False
                
                if value.has_key('touristy'):
                    tour_str = value['touristy']
                else:
                    tour_str = False
                    
                if value.has_key('trendy'):
                    trendy_str = value['trendy']
                else:
                    trendy_str = False
                
                if value.has_key('upscale'):
                    upscale_str = value['upscale']
                else:
                    upscale_str = False
                
                if value.has_key('casual'):
                    casual_str = value['casual']
                else:
                    casual_str = False
                    
                Ambience_df.loc[j] = [bus_df['business_id'][j], bus_df['stars'][j], roman_str, intimate_str,
                                     classy_str, hips_str, divey_str, tour_str,trendy_str,upscale_str, casual_str  ]
                j = j+1

    i = i+1


Ambience_df.head()

,business_id,stars,romantic,intimate,classy,hipster,divey,touristy,trendy,upscale,casual
0,QXAEGFB4oINsVuTFxEYKFQ,2.5,False,False,False,False,False,False,False,False,True
1,gnKjwL_1w79qoiV3IC_xQQ,4.0,False,False,False,False,False,False,False,False,True
2,1Dfx3zM-rW4n-31KeC8sJg,3.0,False,False,False,False,False,False,False,False,False
3,fweCYi8FmbJXHCqLnwuk8w,4.0,True,False,True,False,False,False,False,False,False
4,PZ-LZzSlhSe9utkQYU8pFg,4.0,False,False,False,False,False,False,False,False,False

In [83]:
Ambience_df['high_rate'] = Ambience_df['stars'] >= 3

X2 = Ambience_df[['romantic','intimate','classy','hipster','divey','touristy','trendy','upscale','casual']]
Y2 = Ambience_df['high_rate']

test = SelectKBest(score_func=chi2, k=1)
fit = test.fit(X2, Y2)
print(fit.scores_)
Selected_feature_names = X2.columns[test.get_support()]
Selected_feature_names

[0.11828951 0.69594798 3.90572051 1.72625946 0.7022677  1.8320978
 2.06754888 1.35357863 0.01734438]

Index([u'classy'], dtype='object')

In [ ]:
# Classy plays the most important role in Ambience regarding rate
# I will use classy attribute in the final dataframe

In [103]:
# Features RestaurantsTakeOut, RestaurantsPriceRange2, RestaurantsGoodForGroups, GoodForKids, RestaurantsReservations, 
# RestaurantsDelivery, BusinessParking(garage, valet, lot, street), HasTV, WiFi, NoiseLevel

In [10]:
bus_df_1 = bus_df[['business_id', 'attributes','stars']]

In [85]:
len = bus_df_1.shape[0]
i = 0
my_disc = {}
my_df = pd.DataFrame(columns=['business_id', 'stars', 'takeout_attr','price_attr','group_attr','kids_attr','resv_attr',
                              'deliv_attr','attire_attr','outdoor_attr','bike_attr','creditcard_attr','WiFi_attr'])

while i < len-1:
    tmp_str = ""
    tmp_str = bus_df_1['attributes'][i]
    if type(tmp_str) == str:
        X1 = tmp_str.replace("u'", "'")
        X2 = X1.replace("'{", "{")
        X3 = X2.replace("}'", "}")
        X4 = X3.replace("''","'")
        tmp_dict = eval(X4)
        
        if tmp_dict.has_key('RestaurantsTakeOut'):
            Takeout_attr = tmp_dict['RestaurantsTakeOut']
        else:
            Takeout_attr = True
         
        if tmp_dict.has_key('RestaurantsPriceRange2'):
            if tmp_dict['RestaurantsPriceRange2'] =='None':
                Price_attr = 2
            else:
                Price_attr = tmp_dict['RestaurantsPriceRange2']
        else:
            Price_attr = 2

        if tmp_dict.has_key('RestaurantsGoodForGroups'):
            Group_attr = tmp_dict['RestaurantsGoodForGroups']
        else:
            Group_attr = True

        if tmp_dict.has_key('GoodForKids'):
            Kids_attr = tmp_dict['GoodForKids']
        else:
            Kids_attr = True
        
        if tmp_dict.has_key('RestaurantsReservations'):
            Resv_attr = tmp_dict['RestaurantsReservations']
        else:
            Resv_attr = False  

        if tmp_dict.has_key('RestaurantsDelivery'):
            Deliv_attr = tmp_dict['RestaurantsDelivery']
        else:
            Deliv_attr = False

        if tmp_dict.has_key('RestaurantsAttire'):
            Attire_attr = tmp_dict['RestaurantsAttire']
        else:
            Attire_attr = 'casual'
            
        if tmp_dict.has_key('OutdoorSeating'):
            Outdoor_attr = tmp_dict['OutdoorSeating']
        else:
            Outdoor_attr = False   
        
        if tmp_dict.has_key('BikeParking'):
            Bike_attr = tmp_dict['BikeParking']
        else:
            Bike_attr = True
        
        if tmp_dict.has_key('BusinessAcceptsCreditCards'):
            Creditcard_attr = tmp_dict['BusinessAcceptsCreditCards']
        else:
            Creditcard_attr = True 
            
       
        my_df.loc[i] = [bus_df_1['business_id'][i], bus_df_1['stars'][i], Takeout_attr, Price_attr,Group_attr,Kids_attr,
                        Resv_attr, Deliv_attr, Attire_attr, Outdoor_attr, Bike_attr, Creditcard_attr]
    i = i + 1
    #if i==15:
        #break;
        
my_df

,business_id,stars,takeout_attr,price_attr,group_attr,kids_attr,resv_attr,deliv_attr,attire_attr,outdoor_attr,bike_attr,creditcard_attr,WiFi_attr
0,QXAEGFB4oINsVuTFxEYKFQ,2.5,True,2,True,True,True,False,casual,False,False,False,no
1,gnKjwL_1w79qoiV3IC_xQQ,4.0,True,2,True,True,True,False,casual,False,True,True,no
2,1Dfx3zM-rW4n-31KeC8sJg,3.0,True,1,True,True,False,False,casual,False,False,True,no
3,fweCYi8FmbJXHCqLnwuk8w,4.0,True,2,True,True,False,True,casual,False,True,True,False
4,PZ-LZzSlhSe9utkQYU8pFg,4.0,True,2,True,True,True,False,casual,False,False,True,no
5,1RHY4K3BD22FK7Cfftn8Mg,4.0,True,1,True,True,False,False,False,False,False,True,False
6,tstimHoMcYbkSC4eBA1wEg,4.5,True,1,True,True,False,False,casual,False,True,True,no
7,NDuUMJfrWk52RA-H-OtrpA,3.0,True,2,False,False,False,False,False,False,True,False,no
8,SP_YXIEwkFPPl_9anCYmpQ,3.5,False,2,True,False,True,False,casual,False,True,False,free
9,BvYU3jvGd0TJ7IyZdfiN2Q,3.5,True,2,True,False,True,False,casual,False,False,True,False
10,e_EMySqP0uwlVZfd8mRaaQ,2.0,True,1,True,True,False,False,casual,False,False,False,False
11,mlHC2XcU9Bows6cnYEmRgg,4.0,True,3,True,False,True,False,dressy,True,True,False,free
12,_J_x_RaYTqAqAuCwgRhnRQ,3.0,True,2,True,False,True,False,casual,True,False,True,free
13,6l00a9Gkxkcp_y-GPjYBiw,4.5,True,2,True,True,True,False,casual,False,True,False,False
14,dQj5DLZjeDK3KFysh1SYOQ,4.5,True,2,True,False,False,False,casual,False,True,True,free
15,9UTpmQ4OhX5jNFUIu7dPPQ,4.0,True,1,True,True,False,False,casual,False,True,False,no
16,v-scZMU6jhnmV955RSzGJw,4.5,True,2,False,True,False,False,casual,False,True,True,no
17,kANF0dbeoW34s2vwh6Umfw,2.0,True,1,True,True,False,False,casual,False,True,True,no
18,KFbUQ-RR2UOV62Ep7WnXHw,3.0,True,2,True,False,True,False,casual,False,True,True,no
19,44YFU284Z3KDEy25QyVoUw,3.5,True,2,True,True,True,False,casual,False,True,True,no
20,PkDghu4aan2_wxrhXjTEgg,3.5,True,2,True,True,True,False,casual,False,True,False,free
21,eXgDqKD7-sojyzh6q7PJ4g,4.0,True,2,True,True,True,False,casual,True,True,False,no
22,i_oghUPqLzzJtxC6Zm-D2A,4.0,True,2,True,True,True,False,casual,False,False,False,no
23,RFbMVekR8lU9tPJ8sWrwHg,4.0,False,2,True,False,True,False,casual,False,True,False,False
24,SWX0K1dpy4fcRq-ktZxmCg,3.5,False,2,True,False,True,False,casual,True,True,False,free
25,NPHZkn1e-tSJAbo8Zm9rYw,3.5,True,2,True,True,False,False,casual,False,True,False,no
26,jtlAfuINMCYVFpjwMgy2jw,4.0,True,3,False,False,False,False,casual,False,False,False,False
28,7aLkFEBnL1LJmQdcuaovuQ,4.0,False,1,True,True,False,False,casual,True,False,True,free
29,qJeSjOMgWB3er3UXG33ZVw,3.5,True,2,True,True,False,False,casual,False,True,False,free
30,gyFYZV4b_9TxG1ulQNi0Ig,2.0,True,2,True,True,True,True,casual,True,True,False,free
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59354,q0dJc8hotCDoq3wzZ67Gug,4.0,True,1,True,True,False,True,casual,True,True,False,free
59355,I3dQmMkfqMsThMAuqIkooA,3.0,True,1,True,True,False,False,casual,True,True,True,free
59356,z0nVjbfDw8eb7N57HWNg8w,4.0,True,1,False,True,False,True,casual,True,False,True,no
59357,3L4VPQXH3ni8IsuJLnd74g,3.5,True,False,False,False,False,True,False,False,False,False,False
59358,6KyDIOGT9EAzq1w4kb77ow,4.5,True,2,True,True,True,True,casual,False,True,False,False
59360,-hec2e0Kj9yIVfOQKoFG6Q,2.0,True,2,True,True,False,True,casual,False,True,True,no
59361,ckc3l8cSuggloG4NlquEFQ,2.0,True,1,True,True,False,False,casual,False,False,True,False
59362,NRTER9T_aYV_0WDMdjQ5WA,4.0,True,1,True,True,False,False,casual,False,False,False,paid
59363,lq71ZTkANfb40sR0DAs6Rw,2.0,True,1,False,True,False,True,casual,False,False,True,False
59364,cjZfgcQwA6KmQ_ANWKN2aw,3.5,True,1,True,True,False,False,casual,False,False,True,False
59365,EkkowlqDV1DAktejgKXIxQ,4.5,True,2,True,True,False,True,False,False,False,False,no
59366,lZ8T7NFAo1JGAAopTV_OTQ,3.5,True,2,True,True,True,False,casual,True,False,False,no
59367,Hq2edcOTjse7wjK2CwBijQ,3.5,False,2,False,True,True,False,casual,True,False,False,False
59368,7KlpgRjjAmVabPzxcExs0g,4.0,True,1,True,True,False,False,casual,False,False,True,False
59369,VD358OTsTLFuxOZJTOInKQ,4.5,True,1,True,True,False,False,casual,True,True,True,free
59370,2XZ4g_ps_H55CmxFs4Pu8A,2.5,True,2,True,True,False,False,casual,False,False,True,no
59371,5pYez4SzL1mCzsA4mYqZLw,2.0,True,2,False,False,False,False,False,False,False,False,False
59372,GDaodklIFPCdpjkHlLU2tw,2.5,True,1,False,False,False,False,casual,False,False,False,False
59373,ngs16C2M_uTq2zXamltHVw,4.5,True,2,True,True,False,True,casual,False,True,True,no
59374,0fY-zYyP2fDmp2YXFsuNTg,4.0,True,1,True,True,False,False,casual,False,False,True,free
59375,cfrN6-lQC-dzjBtNBjefpQ,2.5,False,2,False,True,False,False,dressy,False,False,False,False
59376,3rHMaoarZ13Qrafr2DeFcA,3.0,True,1,True,True,True,True,casual,False,True,False,no
59377,JsRt9LPgv-7guVcY4u6OQA,4.5,True,2,True,True,False,False,casual,True,True,True,no
59378,sVEE_Mp3EbWW1UIhfActVA,3.0,True,1,False,True,False,True,casual,False,False,False,free
59380,lo8WwqKogC-kz4toRvkdUQ,3.5,True,3,True,True,True,True,casual,False,True,False,free
59381,3HAPJH0Qoi8Ix6M9rUMfjg,3.0,True,2,True,True,True,True,casual,False,True,False,free
59382,oS0CnUbyv0GUoD3L8_3UPQ,4.0,True,2,True,True,True,True,casual,False,True,True,free
59383,ghovD5ZTGDQ5Q2U4ERddWw,4.0,True,2,True,True,False,False,casual,False,False,True,no
59384,h3QErqS3OZgLJ5Tb6-sLyQ,4.5,True,False,False,False,False,False,casual,False,True,False,False
59385,KnafX7T6qSAmSrLhd709vA,4.0,True,1,True,True,True,True,casual,False,False,False,no

In [99]:
my_df['WiFi_attr'].value_counts()
#my

no       20995
free     19299
False    16467
paid       325
None        89
Name: WiFi_attr, dtype: int64