In [1]:
# Machine Learning for Cap Stone 1 
# Load data saved from Cap1 EDA
import pandas as pd
df = pd.read_csv('data_cap1_ml.csv', sep=',', header=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2774030 entries, 0 to 2774029
Data columns (total 18 columns):
Unnamed: 0                                   int64
BusinessYear                                 int64
StateCode                                    object
PlanId                                       object
RatingAreaId                                 object
Tobacco                                      object
Age                                          object
IndividualRate                               float64
IndividualTobaccoRate                        float64
Couple                                       float64
PrimarySubscriberAndOneDependent             float64
PrimarySubscriberAndTwoDependents            float64
PrimarySubscriberAndThreeOrMoreDependents    float64
CoupleAndOneDependent                        float64
CoupleAndTwoDependents                       float64
CoupleAndThreeOrMoreDependents               float64
PlanIdNew                                    object
MetalLevel                                   object
dtypes: float64(9), int64(2), object(7)
memory usage: 381.0+ MB

In [2]:
# Exam how many people for each age
df['Age'].value_counts()

52             60305
0-20           60305
35             60305
36             60305
37             60305
30             60305
31             60305
32             60305
33             60305
38             60305
39             60305
41             60305
53             60305
40             60305
43             60305
42             60305
45             60305
44             60305
47             60305
46             60305
49             60305
48             60305
34             60305
24             60305
25             60305
26             60305
50             60305
51             60305
56             60305
57             60305
54             60305
55             60305
58             60305
59             60305
64             60305
63             60305
62             60305
61             60305
60             60305
29             60305
28             60305
23             60305
22             60305
21             60305
27             60305
65 and over    60305
Name: Age, dtype: int64

In [3]:
# Only retrieve 5 columns from df dataframe

df_new = df[['StateCode', 'RatingAreaId', 'Age','MetalLevel','IndividualRate']]

In [4]:
# Only look at data for AK state

df_AK = df_new[df_new.StateCode =='AK']

In [5]:
# change '0-20' to 20, '65 and above' to 65
# Change the Age column to int type
df_AK['Age'].value_counts()
df_AK['Age'] = df_AK['Age'].str.replace('0-20','20')
df_AK['Age'] = df_AK['Age'].str.replace('65 and over','65')
df_AK['Age'] = pd.to_numeric(df_AK['Age'])

c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
# Since MetalLevel is ordinal variable, I assign corresponding number to each level
# Catastrophic is 1, Bronze is 2, Silver is 3, Gold is 4
df_AK['MetalLevel'].value_counts()
df_AK['MetalLevel'] = df_AK['MetalLevel'].str.replace('Catastrophic','1')
df_AK['MetalLevel'] = df_AK['MetalLevel'].str.replace('Bronze','2')
df_AK['MetalLevel'] = df_AK['MetalLevel'].str.replace('Silver','3')
df_AK['MetalLevel'] = df_AK['MetalLevel'].str.replace('Gold','4')

c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [7]:
df_AK['MetalLevel']= pd.to_numeric(df_AK['MetalLevel'])

c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
df_AK['RatingAreaId'].value_counts()

Rating Area 1    10948
Rating Area 2    10948
Rating Area 3    10948
Name: RatingAreaId, dtype: int64

In [9]:
# Calculate mean individualrate for three rating areas in AK. 
# They are very close to each other. I am going to use RatingAreaId as category variable.

grp1 = df_AK.groupby('RatingAreaId').mean()
grp1 = grp1.sort_values('IndividualRate', ascending=True)
print(grp1.IndividualRate)

RatingAreaId
Rating Area 3    702.231239
Rating Area 2    711.446529
Rating Area 1    716.058239
Name: IndividualRate, dtype: float64

In [10]:
df_AK['RatingAreaId'] = df_AK['RatingAreaId'].astype('category')
dummy = pd.get_dummies(df_AK['RatingAreaId'])
print(dummy.head())

   Rating Area 1  Rating Area 2  Rating Area 3
0              1              0              0
1              1              0              0
2              1              0              0
3              1              0              0
4              1              0              0

c:\users\jijun\appdata\local\continuum\miniconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
# Merge df_AK with dummy dataframe
df_AK = pd.concat([df_AK, dummy], axis = 1) 
df_AK.head()

,StateCode,RatingAreaId,Age,MetalLevel,IndividualRate,Rating Area 1,Rating Area 2,Rating Area 3
0,AK,Rating Area 1,20,4,333.10,1,0,0
1,AK,Rating Area 1,20,4,337.63,1,0,0
2,AK,Rating Area 1,20,4,342.22,1,0,0
3,AK,Rating Area 1,20,4,346.87,1,0,0
4,AK,Rating Area 1,20,2,209.00,1,0,0

In [12]:
df_AK.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32844 entries, 0 to 1935219
Data columns (total 8 columns):
StateCode         32844 non-null object
RatingAreaId      32844 non-null category
Age               32844 non-null int64
MetalLevel        32844 non-null int64
IndividualRate    32844 non-null float64
Rating Area 1     32844 non-null uint8
Rating Area 2     32844 non-null uint8
Rating Area 3     32844 non-null uint8
dtypes: category(1), float64(1), int64(2), object(1), uint8(3)
memory usage: 1.4+ MB

In [13]:
df_AK.keys()

Index([u'StateCode', u'RatingAreaId', u'Age', u'MetalLevel', u'IndividualRate',
       u'Rating Area 1', u'Rating Area 2', u'Rating Area 3'],
      dtype='object')

In [14]:
# import modules for machine learning

%matplotlib inline 
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [15]:
X = df_AK[['Age', 'MetalLevel', 'Rating Area 1', 'Rating Area 2', 'Rating Area 3']].values
y = df_AK['IndividualRate'].values

In [16]:
# Split into training and test sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=123)

In [17]:
# Create the regressor: reg_all
reg_all = LinearRegression()

# Fit the regressor to the training data
reg_all.fit(X_train, y_train)

# Predict on the test data: y_pred
y_pred = reg_all.predict(X_test)

# Compute and print R^2 and RMSE
print("R^2: {}".format(reg_all.score(X_test, y_test)))
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

R^2: 0.831725963519
Root Mean Squared Error: 128.943977051