In [12]:
# Machine Learning for Cap Stone 1 
# Load data saved from Cap1 EDA
import pandas as pd
df = pd.read_csv('data_cap1_ml.csv', sep=',', header=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2774030 entries, 0 to 2774029
Data columns (total 18 columns):
Unnamed: 0                                   int64
BusinessYear                                 int64
StateCode                                    object
PlanId                                       object
RatingAreaId                                 object
Tobacco                                      object
Age                                          object
IndividualRate                               float64
IndividualTobaccoRate                        float64
Couple                                       float64
PrimarySubscriberAndOneDependent             float64
PrimarySubscriberAndTwoDependents            float64
PrimarySubscriberAndThreeOrMoreDependents    float64
CoupleAndOneDependent                        float64
CoupleAndTwoDependents                       float64
CoupleAndThreeOrMoreDependents               float64
PlanIdNew                                    object
MetalLevel                                   object
dtypes: float64(9), int64(2), object(7)
memory usage: 381.0+ MB

In [13]:
# Exam how many people for each age
df['Age'].value_counts()

52             60305
0-20           60305
35             60305
36             60305
37             60305
30             60305
31             60305
32             60305
33             60305
38             60305
39             60305
41             60305
53             60305
40             60305
43             60305
42             60305
45             60305
44             60305
47             60305
46             60305
49             60305
48             60305
34             60305
24             60305
25             60305
26             60305
50             60305
51             60305
56             60305
57             60305
54             60305
55             60305
58             60305
59             60305
64             60305
63             60305
62             60305
61             60305
60             60305
29             60305
28             60305
23             60305
22             60305
21             60305
27             60305
65 and over    60305
Name: Age, dtype: int64

In [14]:
# Only retrieve 5 columns from df dataframe

df_new = df[['StateCode', 'RatingAreaId', 'Age','MetalLevel','IndividualRate']]

In [19]:
# Only look at data for FL state

df_FL = df_new[df_new.StateCode =='FL'].copy()

In [20]:
# change '0-20' to 10, '65 and above' to 70
# Change the Age column to int type
df_FL['Age'].value_counts()
df_FL['Age'] = df_FL['Age'].str.replace('0-20','10')
df_FL['Age'] = df_FL['Age'].str.replace('65 and over','70')
df_FL['Age'] = pd.to_numeric(df_FL['Age'])

In [24]:
# Use dummpy variables for MetalLevel 
df_FL['MetalLevel'].value_counts()
Metal_dummy = pd.get_dummies(df_FL['MetalLevel'])
print(Metal_dummy)

        Bronze  Catastrophic  Gold  Platinum  Silver
171626       0             0     0         0       1
171627       0             0     0         0       1
171628       0             0     0         0       1
171629       0             0     0         0       1
171630       0             0     1         0       0
171631       0             0     1         0       0
171632       0             0     1         0       0
171633       0             0     1         0       0
171634       0             0     0         0       1
171635       0             0     0         0       1
171636       0             0     0         0       1
171637       0             0     0         0       1
171638       0             0     1         0       0
171639       0             0     1         0       0
171640       0             0     1         0       0
171641       0             0     1         0       0
171642       0             0     0         0       1
171643       0             0     0         0       1
171644       0             0     0         0       1
171645       0             0     0         0       1
171646       0             0     0         0       1
171647       0             0     0         0       1
171648       0             0     0         0       1
171649       0             0     0         0       1
171650       0             0     1         0       0
171651       0             0     1         0       0
171652       0             0     1         0       0
171653       0             0     1         0       0
171654       0             0     0         0       1
171655       0             0     0         0       1
...        ...           ...   ...       ...     ...
497184       1             0     0         0       0
497185       1             0     0         0       0
497186       1             0     0         0       0
497187       1             0     0         0       0
497188       1             0     0         0       0
497189       1             0     0         0       0
497190       1             0     0         0       0
497191       1             0     0         0       0
497192       1             0     0         0       0
497193       1             0     0         0       0
497194       1             0     0         0       0
497195       1             0     0         0       0
497196       1             0     0         0       0
497197       1             0     0         0       0
497198       1             0     0         0       0
497199       1             0     0         0       0
497200       1             0     0         0       0
497201       1             0     0         0       0
497202       1             0     0         0       0
497203       1             0     0         0       0
497204       1             0     0         0       0
497205       1             0     0         0       0
497206       1             0     0         0       0
497207       1             0     0         0       0
497208       1             0     0         0       0
497209       1             0     0         0       0
497210       1             0     0         0       0
497211       1             0     0         0       0
497212       1             0     0         0       0
497213       1             0     0         0       0

[325588 rows x 5 columns]

In [26]:
df_FL = pd.concat([df_FL, Metal_dummy], axis = 1) 
df_FL.head()

,StateCode,RatingAreaId,Age,MetalLevel,IndividualRate,Bronze,Catastrophic,Gold,Platinum,Silver
171626,FL,Rating Area 1,10,Silver,181.98,0,0,0,0,1
171627,FL,Rating Area 1,10,Silver,185.38,0,0,0,0,1
171628,FL,Rating Area 1,10,Silver,188.85,0,0,0,0,1
171629,FL,Rating Area 1,10,Silver,192.38,0,0,0,0,1
171630,FL,Rating Area 1,10,Gold,202.27,0,0,1,0,0

In [29]:
# FL has about 60 rating areas
df_FL['RatingAreaId'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325588 entries, 171626 to 497213
Data columns (total 10 columns):
StateCode         325588 non-null object
RatingAreaId      325588 non-null object
Age               325588 non-null int64
MetalLevel        325588 non-null object
IndividualRate    325588 non-null float64
Bronze            325588 non-null uint8
Catastrophic      325588 non-null uint8
Gold              325588 non-null uint8
Platinum          325588 non-null uint8
Silver            325588 non-null uint8
dtypes: float64(1), int64(1), object(3), uint8(5)
memory usage: 16.5+ MB

In [28]:
# Calculate mean individualrate for each rating area in FL. 
# I am going to use RatingAreaId as category variable.

grp1 = df_FL.groupby('RatingAreaId').mean()
grp1 = grp1.sort_values('IndividualRate', ascending=True)
print(grp1.IndividualRate)

RatingAreaId
Rating Area 41    447.086553
Rating Area 1     458.541297
Rating Area 36    459.394797
Rating Area 28    460.920003
Rating Area 4     462.341996
Rating Area 26    463.511211
Rating Area 50    466.120547
Rating Area 56    466.693855
Rating Area 10    467.064550
Rating Area 40    467.725134
Rating Area 63    468.942765
Rating Area 9     469.607444
Rating Area 15    470.401293
Rating Area 34    471.935946
Rating Area 51    472.449146
Rating Area 52    473.359123
Rating Area 8     473.805561
Rating Area 22    473.954216
Rating Area 3     474.551413
Rating Area 6     476.710138
Rating Area 55    476.941285
Rating Area 62    478.760747
Rating Area 30    479.953088
Rating Area 2     480.241978
Rating Area 46    485.287497
Rating Area 54    486.731198
Rating Area 67    487.837341
Rating Area 64    487.913169
Rating Area 60    488.064148
Rating Area 11    488.480407
                     ...
Rating Area 43    492.492024
Rating Area 31    492.574693
Rating Area 17    493.171962
Rating Area 7     494.060870
Rating Area 49    494.754614
Rating Area 66    495.233519
Rating Area 37    495.955613
Rating Area 27    496.443897
Rating Area 59    497.068907
Rating Area 29    497.515318
Rating Area 13    498.191142
Rating Area 32    499.781466
Rating Area 35    500.420065
Rating Area 61    501.292008
Rating Area 65    502.915452
Rating Area 45    505.825314
Rating Area 53    509.669957
Rating Area 57    512.161045
Rating Area 23    514.082748
Rating Area 18    515.333255
Rating Area 20    516.327273
Rating Area 38    517.801193
Rating Area 19    518.433049
Rating Area 33    519.776377
Rating Area 14    522.547652
Rating Area 21    529.785301
Rating Area 25    536.363636
Rating Area 24    538.841795
Rating Area 47    547.439986
Rating Area 44    660.477451
Name: IndividualRate, Length: 67, dtype: float64

In [30]:
df_FL['RatingAreaId'] = df_FL['RatingAreaId'].astype('category')
rating_dummy = pd.get_dummies(df_FL['RatingAreaId'])
print(rating_dummy.head())

        Rating Area 1  Rating Area 10  Rating Area 11  Rating Area 12  \
171626              1               0               0               0
171627              1               0               0               0
171628              1               0               0               0
171629              1               0               0               0
171630              1               0               0               0

        Rating Area 13  Rating Area 14  Rating Area 15  Rating Area 16  \
171626               0               0               0               0
171627               0               0               0               0
171628               0               0               0               0
171629               0               0               0               0
171630               0               0               0               0

        Rating Area 17  Rating Area 18      ...        Rating Area 61  \
171626               0               0      ...                     0
171627               0               0      ...                     0
171628               0               0      ...                     0
171629               0               0      ...                     0
171630               0               0      ...                     0

        Rating Area 62  Rating Area 63  Rating Area 64  Rating Area 65  \
171626               0               0               0               0
171627               0               0               0               0
171628               0               0               0               0
171629               0               0               0               0
171630               0               0               0               0

        Rating Area 66  Rating Area 67  Rating Area 7  Rating Area 8  \
171626               0               0              0              0
171627               0               0              0              0
171628               0               0              0              0
171629               0               0              0              0
171630               0               0              0              0

        Rating Area 9
171626              0
171627              0
171628              0
171629              0
171630              0

[5 rows x 67 columns]

In [31]:
# Merge df_AK with dummy dataframe
df_FL = pd.concat([df_FL, rating_dummy], axis = 1) 
df_FL.head()

,StateCode,RatingAreaId,Age,MetalLevel,IndividualRate,Bronze,Catastrophic,Gold,Platinum,Silver,...,Rating Area 61,Rating Area 62,Rating Area 63,Rating Area 64,Rating Area 65,Rating Area 66,Rating Area 67,Rating Area 7,Rating Area 8,Rating Area 9
171626,FL,Rating Area 1,10,Silver,181.98,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
171627,FL,Rating Area 1,10,Silver,185.38,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
171628,FL,Rating Area 1,10,Silver,188.85,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
171629,FL,Rating Area 1,10,Silver,192.38,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
171630,FL,Rating Area 1,10,Gold,202.27,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df_FL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325588 entries, 171626 to 497213
Data columns (total 77 columns):
StateCode         325588 non-null object
RatingAreaId      325588 non-null category
Age               325588 non-null int64
MetalLevel        325588 non-null object
IndividualRate    325588 non-null float64
Bronze            325588 non-null uint8
Catastrophic      325588 non-null uint8
Gold              325588 non-null uint8
Platinum          325588 non-null uint8
Silver            325588 non-null uint8
Rating Area 1     325588 non-null uint8
Rating Area 10    325588 non-null uint8
Rating Area 11    325588 non-null uint8
Rating Area 12    325588 non-null uint8
Rating Area 13    325588 non-null uint8
Rating Area 14    325588 non-null uint8
Rating Area 15    325588 non-null uint8
Rating Area 16    325588 non-null uint8
Rating Area 17    325588 non-null uint8
Rating Area 18    325588 non-null uint8
Rating Area 19    325588 non-null uint8
Rating Area 2     325588 non-null uint8
Rating Area 20    325588 non-null uint8
Rating Area 21    325588 non-null uint8
Rating Area 22    325588 non-null uint8
Rating Area 23    325588 non-null uint8
Rating Area 24    325588 non-null uint8
Rating Area 25    325588 non-null uint8
Rating Area 26    325588 non-null uint8
Rating Area 27    325588 non-null uint8
Rating Area 28    325588 non-null uint8
Rating Area 29    325588 non-null uint8
Rating Area 3     325588 non-null uint8
Rating Area 30    325588 non-null uint8
Rating Area 31    325588 non-null uint8
Rating Area 32    325588 non-null uint8
Rating Area 33    325588 non-null uint8
Rating Area 34    325588 non-null uint8
Rating Area 35    325588 non-null uint8
Rating Area 36    325588 non-null uint8
Rating Area 37    325588 non-null uint8
Rating Area 38    325588 non-null uint8
Rating Area 39    325588 non-null uint8
Rating Area 4     325588 non-null uint8
Rating Area 40    325588 non-null uint8
Rating Area 41    325588 non-null uint8
Rating Area 42    325588 non-null uint8
Rating Area 43    325588 non-null uint8
Rating Area 44    325588 non-null uint8
Rating Area 45    325588 non-null uint8
Rating Area 46    325588 non-null uint8
Rating Area 47    325588 non-null uint8
Rating Area 48    325588 non-null uint8
Rating Area 49    325588 non-null uint8
Rating Area 5     325588 non-null uint8
Rating Area 50    325588 non-null uint8
Rating Area 51    325588 non-null uint8
Rating Area 52    325588 non-null uint8
Rating Area 53    325588 non-null uint8
Rating Area 54    325588 non-null uint8
Rating Area 55    325588 non-null uint8
Rating Area 56    325588 non-null uint8
Rating Area 57    325588 non-null uint8
Rating Area 58    325588 non-null uint8
Rating Area 59    325588 non-null uint8
Rating Area 6     325588 non-null uint8
Rating Area 60    325588 non-null uint8
Rating Area 61    325588 non-null uint8
Rating Area 62    325588 non-null uint8
Rating Area 63    325588 non-null uint8
Rating Area 64    325588 non-null uint8
Rating Area 65    325588 non-null uint8
Rating Area 66    325588 non-null uint8
Rating Area 67    325588 non-null uint8
Rating Area 7     325588 non-null uint8
Rating Area 8     325588 non-null uint8
Rating Area 9     325588 non-null uint8
dtypes: category(1), float64(1), int64(1), object(2), uint8(72)
memory usage: 35.1+ MB

In [33]:
df_FL.keys()

Index([u'StateCode', u'RatingAreaId', u'Age', u'MetalLevel', u'IndividualRate',
       u'Bronze', u'Catastrophic', u'Gold', u'Platinum', u'Silver',
       u'Rating Area 1', u'Rating Area 10', u'Rating Area 11',
       u'Rating Area 12', u'Rating Area 13', u'Rating Area 14',
       u'Rating Area 15', u'Rating Area 16', u'Rating Area 17',
       u'Rating Area 18', u'Rating Area 19', u'Rating Area 2',
       u'Rating Area 20', u'Rating Area 21', u'Rating Area 22',
       u'Rating Area 23', u'Rating Area 24', u'Rating Area 25',
       u'Rating Area 26', u'Rating Area 27', u'Rating Area 28',
       u'Rating Area 29', u'Rating Area 3', u'Rating Area 30',
       u'Rating Area 31', u'Rating Area 32', u'Rating Area 33',
       u'Rating Area 34', u'Rating Area 35', u'Rating Area 36',
       u'Rating Area 37', u'Rating Area 38', u'Rating Area 39',
       u'Rating Area 4', u'Rating Area 40', u'Rating Area 41',
       u'Rating Area 42', u'Rating Area 43', u'Rating Area 44',
       u'Rating Area 45', u'Rating Area 46', u'Rating Area 47',
       u'Rating Area 48', u'Rating Area 49', u'Rating Area 5',
       u'Rating Area 50', u'Rating Area 51', u'Rating Area 52',
       u'Rating Area 53', u'Rating Area 54', u'Rating Area 55',
       u'Rating Area 56', u'Rating Area 57', u'Rating Area 58',
       u'Rating Area 59', u'Rating Area 6', u'Rating Area 60',
       u'Rating Area 61', u'Rating Area 62', u'Rating Area 63',
       u'Rating Area 64', u'Rating Area 65', u'Rating Area 66',
       u'Rating Area 67', u'Rating Area 7', u'Rating Area 8',
       u'Rating Area 9'],
      dtype='object')

In [34]:
# import modules for machine learning

%matplotlib inline 
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [37]:
# Specify features and labels 
X = df_FL.drop(['StateCode', 'RatingAreaId', 'MetalLevel','IndividualRate'], axis=1).values
y = df_FL['IndividualRate'].values

In [38]:
# Split into training and test sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=123)

In [39]:
# Create the regressor: reg_all
reg_all = LinearRegression()

# Fit the regressor to the training data
reg_all.fit(X_train, y_train)

# Predict on the test data: y_pred
y_pred = reg_all.predict(X_test)

# Compute and print R^2 and RMSE
print("R^2: {}".format(reg_all.score(X_test, y_test)))
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

R^2: 0.821486127648
Root Mean Squared Error: 94.0086830115